<% include header.ejs %>

	
	<div class="login">
		<form method="post" action = "/auth/login">
			<div class="autherror"><% if(incorrectpass){%> Incorrect Password<br> <% } %></div>
			<div class="autherror"><% if(notfound){%> Email not found<br> <% } %> </div>
    		<input type="email" placeholder="enter your email" name="email" required><br>
    		<input type="password" placeholder="enter your password" name="password" required><br>
    		<input type="submit" value="Login" name = btnlogin>
		</form>
	</div>
	
	
	<div class="registration">
		<form method="post" action = "/auth/register">
			<div class="autherror"><% if(emailtaken){%>Email already taken<br>try again<br> <% } %></div> 
    		<input type="email" placeholder="enter your email" name="email" required><br>
    		<input type="password" placeholder="enter a password" name="password" required><br>
    		<input type="submit" value="Sign Up" name = btnsignup>
		</form>
	</div>

<% include footer.ejs %>
